name: Latest blog post workflow
on:
  schedule:
    # Runs at 1am UTC
    - cron: "0 1 * * *"
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://dev.to/feed/pemtajo, https://medium.com/feed/@pemtajo"
